<IfModule mod_headers.c>
    <Files "badges.json">
        Header set Access-Control-Allow-Origin "*"
    </Files>
    <Files "events.json">
        Header set Access-Control-Allow-Origin "*"
    </Files>
</IfModule>
