@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

* {
    font-family: 'JetBrains Mono', monospace;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    overscroll-behavior: none;
    transition: all 0.3s;
}

@property --background {
    syntax: "<color>";
    inherits: false;
    initial-value: #131313;
}

@property --table-head {
    syntax: "<color>";
    inherits: false;
    initial-value: #090909;
}

@property --table-body {
    syntax: "<color>";
    inherits: false;
    initial-value: #151515;
}

@property --primary {
    syntax: '<color>';
    inherits: false;
    initial-value: #EEF4ED;
}

@property --secondary {
    syntax: '<color>';
    inherits: false;
    initial-value: #696969;
}

@property --highlight {
    syntax: '<color>';
    inherits: false;
    initial-value: #32c743;
}

@property --black {
    syntax: '<color>';
    inherits: false;
    initial-value: #000000;
}

@property --beginner {
    syntax: '<color>';
    inherits: false;
    initial-value: #33a828;
}

@property --beginner-background {
    syntax: '<color>';
    inherits: false;
    initial-value: #091c09;
}

@property --intermediate {
    syntax: '<color>';
    inherits: false;
    initial-value: #d6a938;
}

@property --intermediate-background {
    syntax: '<color>';
    inherits: false;
    initial-value: #261f0c;
}

@property --advanced {
    syntax: '<color>';
    inherits: false;
    initial-value: #e31806;
}

@property --advanced-background {
    syntax: '<color>';
    inherits: false;
    initial-value: #321010;
}

@property --code {
    syntax: '<color>';
    inherits: false;
    initial-value: #ccd3d4;
}




::selection {
    color: var(--highlight);
}

body {
    background-color: var(--background);
}


@media screen and (min-width: 320px) {


    #transition-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--table-head);
        z-index: 9999;
        pointer-events: none; /* Prevent interactions during idle state */
        opacity: 0; /* Default invisible state */
    }
    
    /* Show animation */
    @keyframes fadeIn {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
    
    /* Hide animation */
    @keyframes fadeOut {
        from {
            opacity: 1;
        }
        to {
            opacity: 0;
        }
    }
    
    /* Active state with animation */
    #transition-overlay.active {
        pointer-events: auto; /* Allow interactions when active */
        animation: fadeIn 1s forwards; /* Apply fadeIn when active */
    }
    
    /* Exit state */
    #transition-overlay.exiting {
        animation: fadeOut 1s forwards; /* Apply fadeOut when exiting */
    }




    .hide-on-mobile {
        display: none;
    }

    .hide-on-desktop {
        display: block;
    }

    .space-150 {
        margin-top: 150px;
    }

    .space-100 {
        margin-top: 100px;
    }

    .space-50 {
        margin-top: 50px;
    }

    .space-300 {
        margin-top: 300px;
    }

    .break-line {
        width: 100%;
        height: 1px;
        background-color: var(--secondary);
        margin: 10px 0;
    }

    .general-list {
        list-style: disc;
        padding: 0 0 0 20px;

        li {
            margin: 10px 0;
        }

        .general-list-inner {
            list-style: disc;
            padding: 0 0 0 30px;
        }

    }

    .numbered-list {
        list-style: decimal-leading-zero;
        padding: 0 0 0 40px;

        li {
            margin: 10px 0;
        }

        .numbered-list-inner {
            list-style: disc;
            padding: 0 0 0 10px;
        }

    }


    #active {
        box-shadow: var(--highlight) 0px 2px 0px 0px;
        padding: 2px;

        &:hover {
            box-shadow: none;
        }
    }

    .breadcrumbs {
        display: flex;
        list-style: none;
        padding: 0;
        margin: 10px 0;
        font-size: 14px;
    }

    /* Individual breadcrumb items */
    .breadcrumbs li {
        display: flex;
        align-items: center;
        color: var(--primary);
    }

    /* Breadcrumb link styling */
    .breadcrumbs a {
        text-decoration: none;
        color: var(--secondary);
        transition: color 0.3s;
    }

    .breadcrumbs a:hover {
        color: var(--highlight);
    }

    /* Separator styling */
    .breadcrumbs li+li::before {
        content: " > ";
        margin: 0 5px;
        color: var(--secondary);
    }


    .h1-hero {
        font-size: 35px;
        color: var(--primary);
        font-weight: 800;

    }

    .paragraph-hero {
        font-size: 15px;
        color: var(--secondary);
        font-weight: 400;
    }

    .h1 {
        font-size: 60px;
        color: var(--primary);

    }

    .h2 {
        font-size: 45px;
        text-transform: uppercase;
        font-weight: 800;
        color: var(--primary);

    }

    .h3 {
        font-size: 35px;
        color: var(--primary);

    }

    .h4 {
        font-size: 25px;
        color: var(--primary);
        text-transform: uppercase;
        font-weight: 600;
        margin: 0 0 10px 0;
    }

    .paragraph {
        font-size: 14px;
        font-family: 'Geist Mono', monospace;
        font-weight: 400;
        color: var(--primary);
        margin: 0 0 5px 0;
    }

    .paragraph-secondary {
        font-size: 14px;
        font-family: 'Geist Mono', monospace;
        font-weight: 500;
        color: var(--secondary);
    }

    .code-snippet {
        background-color: var(--table-head);
        color: var(--code);
        padding: 20px;
        border-radius: 5px;
        font-size: 14px;
        font-family: 'Geist Mono', monospace;
        margin: 10px 0;
    }

    .inline-code-snippet {
        background-color: var(--background);
        color: var(--code);
        padding: 5px 8px;
        border-radius: 5px;
        font-size: 13px;
        font-family: 'Geist Mono', monospace;
        line-height: 2.4;
        font-weight: 300;
    }

    /* .flapper-link is a class if you want a scrambling effect*/

    .link {
        text-decoration: none;
        color: var(--primary);
        font-weight: 600;
        font-size: 42px;
        text-transform: uppercase;
        position: relative;
        overflow: hidden;

        span {
            display: inline-block;
            position: relative;
            transition: transform 0.2s ease, opacity 0.2s ease;
        }

        &::after {
            content: "";
            display: block;
            position: absolute;
            bottom: 0;
            left: 0;
            height: 2px;
            background: var(--primary);
            width: 0;
            transition: width 0.2s ease;
            /* Smooth underline animation */
        }

        &:hover::after {
            width: 100%;
            /* Extend the underline on hover */
        }
    }

    @keyframes scramble {
        0% {
            transform: translateX(100%);
            opacity: 0;
        }

        50% {
            transform: translateX(-10%);
            opacity: 1;
        }

        100% {
            transform: translateX(0);
        }
    }

    main {
        background-color: var(--black);
    }


    .header {
        position: sticky;
        top: 0;
        z-index: 2;
    }

    .navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;
        background-color: var(--black);
        color: var(--primary);
        position: relative;
        z-index: 2;


        .nav-logo img {
            height: 55px;
            margin: 15px 0 0 0;

            &:hover {
                cursor: pointer;
                transform: scale(1.1);
            }
        }

        .nav-menu {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: var(--black);
            flex-direction: column;
            align-items: center;
            transform: translateY(100%);
            transition: transform 0.3s ease;
            list-style: none;
            z-index: 1;

            .nav-item {
                margin: 20px 0;
                text-decoration: none;
            }
        }

        .nav-menu.open {
            display: flex;
            transform: translateY(0);

        }

        /* Hamburger Styles */
        .hamburger {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            width: 32px;
            height: 24px;
            cursor: pointer;
            z-index: 3;

            /* Ensure it stays above the menu */
            .line {
                width: 100%;
                height: 2px;
                background-color: var(--primary);
                transition: all 0.4s ease;
                border-radius: 2px;
                transform-origin: center;
            }
        }

    }

    /* Hamburger Animation */
    .hamburger.open .line:nth-child(1) {
        transform: rotate(45deg) translate(2px, 13px);
    }

    .hamburger.open .line:nth-child(2) {
        opacity: 0;
    }

    .hamburger.open .line:nth-child(3) {
        transform: rotate(-45deg) translate(2px, -14px);
    }

    /* Keyframe for Links Animation */
    @keyframes fadeIn {
        to {
            opacity: 1;

        }
    }

    .page-content {
        padding: 0 10px;
    }


    .hero {
        background: url(assets/front_page.webp);
        color: var(--black);
        display: flex;
        flex-direction: column;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 800px;
        position: relative;


        .container {
            margin: 100px 0;

            .button-hero {

                margin: 20px 0;
                padding: 12px 30px;
                border-radius: 10px;
                font-weight: 200;
                border: 0;
                box-shadow: 0 10px 40px 1px rgba(131, 132, 131, 0.513);
                background: rgba(11, 11, 11, 0.05);
                backdrop-filter: blur(10px);
                -webkit-backdrop-filter: blur(10px);



                &:hover {
                    cursor: pointer;
                    transform: translateY(-4px);
                    box-shadow: inset 8px 2px 25px 0 rgba(46, 46, 46, 0.5);
                    backdrop-filter: blur(0px);
                    -webkit-backdrop-filter: blur(0px);
                    box-shadow: 0 20px 60px 1px rgba(49, 98, 61, 0.513);

                }

                a {
                    text-decoration: none;
                    font-size: 16px;
                    color: var(--primary);
                }
            }
        }
    }

    .about {
        margin: 0;
        background-color: var(--black);
        position: relative;

        .introduction {
            display: flex;
            flex-direction: column;

            .h2 {
                margin: 0 0 30px 0;
            }
        }


    }

    .activities {



        .container {


            .activity-cards {
                margin: 20px 0;
                display: flex;
                flex-direction: column;


                .activity-card {
                    border: 1px solid var(--background);
                    backdrop-filter: blur(10px);
                    -webkit-backdrop-filter: blur(10px);
                    margin: 10px 0;
                    padding: 20px;
                    border-radius: 10px;

                    &:hover {
                        transform: translateY(-4px);
                        box-shadow: inset 20px 2px 70px 0 rgba(46, 46, 46, 0.5);
                    }

                    a {
                        text-decoration: none;

                    }

                    .h3 {
                        margin: 0 0 20px 0;
                    }
                }
            }

        }
    }

    .contacts {

        .container {

            .h2 {
                margin: 0 0 20px 0;
            }
        }


    }

    .footer {
        background-color: var(--background);
        color: var(--primary);
        padding: 20px;
        border-top: 2px solid var(--background);
        z-index: 2;


        .container {
            display: flex;
            flex-direction: row;



        }

        img {
            height: 60px;
            margin: 0 0 10px 0;


        }

    }


    /* 
    Front page ends here
------------------------------------------------------------------------------------------------------------------------------
    säännöt page starts here
*/

    .rules-section {

        .h1 {
            margin: 0 0 20px 0;
            font-size: 25px;
        }

        .h2 {
            margin: 70px 0 20px 0;
            font-size: 20px;
        }

        .paragraph {
            margin: 10px 0 5px 0;
            font-size: 14px;
        }

        .paragraph-secondary {
            margin: 0 0 0 15px;
            font-size: 14px;
        }

    }


    /* 
    säännöt page ends here
------------------------------------------------------------------------------------------------------------------------------
    resurssit page starts here
*/

    .teams {

        .container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .red-team {

                width: 100%;
                text-align: center;
                padding: 80px 0;
                background-image: url('/H-T8/assets/red_team.webp');
                background-size: cover;
                background-position: center;
                background-blend-mode: multiply;
                background-color: rgba(109, 59, 59, 1);
                filter: grayscale(100%);
                text-decoration: none;

                &:hover {
                    filter: grayscale(0%);
                    background-color: rgba(255, 0, 0, 0.9);
                    scale: 1.02;
                }


            }

            .blue-team {
                width: 100%;
                text-align: center;
                padding: 80px 0;
                background-image: url('/H-T8/assets/blue_team.webp');
                background-size: cover;
                background-position: center;
                filter: grayscale(100%);
                background-color: rgba(144, 144, 247, 0);
                /* Blue color with 50% opacity */
                background-blend-mode: multiply;
                /* Blend the blue overlay with the image */
                text-decoration: none;

                &:hover {

                    filter: grayscale(0%);
                    background-color: rgb(0, 255, 238);
                    scale: 1.02;
                }

            }

            .general {
                width: 100%;
                background-image: url("/H-T8/assets/general.webp");
                text-align: center;
                text-decoration: none;
                padding: 80px 0;
                background-size: cover;
                background-position: center;
                background-color: rgba(59, 59, 59, 0.9);
                background-blend-mode: multiply;


                &:hover {
                    background-color: rgba(167, 167, 167, 0.9);
                    color: var(--black);
                    scale: 1.02;

                }



            }
        }

    }

    .card-container {
        display: flex;
        flex-direction: column;

        .card {
            text-decoration: none;
            border: 2px solid var(--background);
            backdrop-filter: blur(10px);
            -webkit-backdrop-filter: blur(10px);
            margin: 10px 0;
            padding: 20px;
            border-radius: 10px;

            &:hover {
                cursor: pointer;
                transform: translateY(-2px);
                box-shadow: inset 20px 2px 70px 0 rgba(46, 46, 46, 0.5);
            }

            .card-content {
                display: flex;
                flex-direction: column;

                .h3 {
                    margin: 0 0 20px 0;
                }

                .paragraph-secondary {
                    margin: 0 0 15px 0;
                }

                .tags {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    margin: 10px 0 0 0;

                    .tag {
                        margin: 0 10px 10px 0;
                        padding: 5px 10px;
                        border-radius: 5px;
                        background-color: var(--highlight);
                        color: var(--black);
                        font-size: 14px;
                        font-weight: 600;
                        text-transform: uppercase;
                    }
                }
            }
        }
    }



    .table-container {
        margin: 20px auto;
        border-radius: 5px;
        background-color: rgba(21, 20, 20, 0.715);
        scrollbar-color: var(--table-body) var(--table-head);

        .scrollable {
            overflow-x: auto;
            scrollbar-width: thin;
            -webkit-overflow-scrolling: touch;
            border-radius: 5px;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            white-space: nowrap;
        }
    }



    th {
        padding: 12px 16px;
        border: 1px solid var(--background);
        color: var(--primary);
        position: sticky;
        top: 0;
    }

    td {
        padding: 12px 16px;
        font-weight: 300;
        border: 1px solid var(--background);
        color: var(--secondary);


    }

    .advanced {
        color: var(--advanced);

        span {
            background-color: var(--advanced-background);
            border-radius: 10px;
            padding: 4px 10px;
            font-size: 14px;
            display: inline-block;
        }
    }

    .intermediate {
        color: var(--intermediate);

        span {
            background-color: var(--intermediate-background);
            border-radius: 10px;
            padding: 4px 10px;
            font-size: 14px;
            display: inline-block;
        }
    }

    .beginner {
        color: var(--beginner);

        span {
            background-color: var(--beginner-background);
            border-radius: 10px;
            padding: 4px 10px;
            font-size: 14px;
            display: inline-block;
        }
    }

    thead {
        background-color: var(--table-head);
    }

    tbody tr:nth-child(even) {
        background-color: var(--table-head);
    }

    tbody tr:hover {
        color: var(--primary);
        background-color: var(--table-body);
    }

    a {
        color: var(--highlight);
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }

    /* Pagination */
    .pagination {
        position: sticky;
        overflow: show;
        top: 0;
        left: 0;
        /* Start at the left of the container */
        background: var(--black);
        padding: 10px;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        /* Ensure padding doesn't affect width */



        button {
            padding: 8px 12px;
            margin: 0 5px;
            border: 1px solid var(--background);
            background-color: var(--table-body);
            color: var(--secondary);
            border-radius: 4px;
            cursor: pointer;

            &.disabled,
            &[disabled] {
                background-color: var(--background);
                cursor: not-allowed;
            }

            &.active {
                background-color: var(--highlight);
                color: var(--primary)
            }

            &:hover:not(.active):not([disabled]) {
                background-color: var(--highlight);
                color: var(--primary);
            }
        }
    }



    /*
    resurssit page ends here
------------------------------------------------------------------------------------------------------------------------------
    tietoa page starts here
*/

    .information-page {

        p {
            line-height: 23px;
        }
    }

    /*
    tietoa page ends here
------------------------------------------------------------------------------------------------------------------------------
toiminta page starts here
*/

    .indent {
        margin: 0 0 0 15px;
        line-height: 25px;
    }

    .events-container-all {
        display: flex;
        flex-direction: row;
        padding: 20px 5px 20px 0px;
        gap: 20px;
        overflow-x: scroll;
        -webkit-overflow-scrolling: touch;
        scroll-snap-align: start;
        scrollbar-width: thin;
        scrollbar-color: var(--background) var(--table-head);
    }

    .events-container-2 {
        display: flex;
        flex-direction: row;
        padding: 20px 5px 20px 0px;
        gap: 20px;
        overflow-x: scroll;
        -webkit-overflow-scrolling: touch;
        scroll-snap-align: start;
        scrollbar-width: thin;
        scrollbar-color: var(--background) var(--table-head);
    }

    /* Tooltip container */
    .tooltip-container {
        position: relative;
        display: flex;
        flex-direction: row;

        .tooltip {
            border-radius: 20px;
            padding: 4px 10px;
            font-size: 12px;
        }

        /* Tooltip text (hidden by default) */
        .tooltip-text {
            visibility: hidden;
            width: 150px;
            backdrop-filter: blur(2px);
            -webkit-backdrop-filter: blur(2px);
            color: var(--secondary);
            border: var(--background) 1px solid;
            font-size: 14px;
            border-radius: 5px;
            padding: 15px;
            position: absolute;
            z-index: 1;
            bottom: 60%;
            /* Position it above the tooltip container */
            left: 50%;

            /* Offset to center the tooltip */
            opacity: 0;
            transition: opacity 0.3s;
        }

    }

    /* Show the tooltip when hovering over the container */
    .tooltip-container:hover .tooltip-text {
        visibility: visible;
        opacity: 1;
    }


    .event-link {
        text-decoration: none;
        color: inherit;
      }
    

    .event {
        border-radius: 8px;
        padding: 25px;
        min-width: 420px;
        border: 1px solid var(--background);
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);

        &:hover {
            transform: translateY(-4px);
            box-shadow: inset 20px 2px 70px 0 rgba(46, 46, 46, 0.325);
        }

        p {
            margin: 10px 0;
            font-size: 16px;
            color: var(--secondary);
        }

        .tags {
            margin-top: 20px;
        }

        .tag {
            display: inline-block;
            background-color: var(--beginner-background);
            color: var(--beginner);
            padding: 5px 10px;
            border-radius: 5px;
            font-size: 14px;
            margin: 5px 5px 0 0;
        }

        .event-icon {
        
            svg {
                height: 30px;
                width: auto;
                fill: var(--highlight);
    
                &:hover {
                    cursor: pointer;
                    transform: scale(1.2);
                }
            }
    
          }


    }

/*
toiminta page ends here
------------------------------------------------------------------------------------------------------------------------------
yhteystiedot page starts here
*/

.club-board {

    .container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 20px;
        flex-wrap: wrap;
        width: 100%;
        

    }


    .board-member {
        border: 1px solid var(--background);
        border-radius: 5px;
        padding: 0 20px;



        &:hover {
            box-shadow: inset 20px 2px 70px 0 rgba(46, 46, 46, 0.5);
        }
        

        .board-member-image {
            margin: 0 0 10px 0;
            display: flex;
            justify-content: center;
            filter: brightness(0.8);

            img {
                width: 150px;
            }
        }

        .board-member-info {

            h3 {
                margin: 0;
            }

            .board-member-contact {
                display: flex;
                flex-direction: row;
                margin: 0 0 20px 0;

                svg {
                    height: 30px;
                    width: auto;
                    fill: var(--secondary);
                    margin: 0 10px 0 0;

                    &:hover {
                        cursor: pointer;
                        transform: scale(1.2);
                    }
                }

            }

        }


    }
    
}




}

@media screen and (min-width: 768px) {

    .hide-on-desktop {
        display: none;
    }

    .hide-on-mobile {
        display: block;
    }

    .h1-hero {
        font-size: 55px;
    }

    .paragraph-hero {
        font-size: 18px;
    }

    .h1 {
        font-size: 45px;
    }

    .h2 {
        font-size: 40px;
    }

    .h3 {
        font-size: 35px;
    }

    .paragraph {
        font-size: 14px;
    }

    .paragraph-secondary {
        font-size: 14px;
    }


    .navbar {


        .nav-logo img {
            height: 65px;
            margin: 15px 0 0 0;

            &:hover {
                cursor: pointer;
                transform: scale(1.1);
            }
        }

    }


    .about {
        padding: 20px;
        margin: 40px 0 0 0;
        background-color: var(--black);
        position: relative;



        .introduction {
            display: flex;
            flex-direction: row;

            .h2 {
                margin: 0 10px 0 0;
            }

            .paragraph-secondary {
                margin: 0 0 0 10px;
            }
        }

    }

    .page-content {
        margin: 0 20px;
        ;
    }


    .activities {



        .container {


            .activity-cards {
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));


                .activity-card {
                    border: 1px solid var(--background);
                    backdrop-filter: blur(10px);
                    -webkit-backdrop-filter: blur(10px);
                    margin: 10px;
                    padding: 20px;
                    border-radius: 10px;

                    &:hover {
                        cursor: default;
                        transform: translateY(-4px);
                        box-shadow: inset 20px 2px 70px 0 rgba(36, 36, 36, 0.5);
                    }

                    a {
                        text-decoration: none;

                    }

                    .h3 {
                        margin: 0 0 20px 0;
                    }
                }
            }

        }

    }

    /* 
    Front page ends here
------------------------------------------------------------------------------------------------------------------------------
    säännöt page starts here
*/

    .rules-section {

        .h1 {
            margin: 0 0 20px 0;
            font-size: 35px;
        }

        .h2 {
            margin: 70px 0 20px 0;
            font-size: 30px;
        }

        .paragraph {
            margin: 10px 0 5px 0;
            font-size: 20px;
        }

        .paragraph-secondary {
            margin: 0 0 0 15px;
            font-size: 14px;
        }

    }


    /* 
säännöt page ends here
------------------------------------------------------------------------------------------------------------------------------
resurssit page starts here
*/

    .teams {

        .container {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;

            .red-team {

                width: 100%;
                text-align: center;
                padding: 250px 0;
                background-size: cover;
                background-color: rgba(255, 0, 0, 1);
                /* Red color with 50% opacity */
                background-blend-mode: multiply;
                /* Blend the red overlay with the image */
                filter: grayscale(100%);
                text-decoration: none;
                margin: 20px 0 0 0;

                &:hover {
                    filter: grayscale(0%);
                    background-color: rgba(255, 0, 0, 0.9);
                    transform: translateX(5px);
                }




            }

            .blue-team {
                background-color: blue;
                width: 100%;
                text-align: center;
                padding: 250px 0;
                background-size: cover;
                background-position: center;
                filter: grayscale(100%);
                background-color: rgba(144, 144, 247, 0);
                /* Blue color with 50% opacity */
                background-blend-mode: multiply;
                /* Blend the blue overlay with the image */
                text-decoration: none;
                margin: 20px 0 0 0;

                &:hover {

                    filter: grayscale(0%);
                    background-color: rgb(0, 255, 238);
                    transform: translateX(-5px);
                }



            }

            .general {
                width: 100%;
                text-align: center;
                text-decoration: none;
                padding: 250px 0;
                background-size: cover;
                margin: 20px 0 0 0;


                &:hover {
                    color: var(--black);
                    scale: 1.02;
                }



            }
        }

    }

    .card-container {
        display: flex;
        flex-direction: column;

        .card {
            text-decoration: none;
            border: 2px solid var(--background);
            backdrop-filter: blur(10px);
            -webkit-backdrop-filter: blur(10px);
            margin: 10px 0;
            padding: 20px;
            border-radius: 10px;
            display: flex;
            flex-direction: row;

            &:hover {
                cursor: pointer;
                transform: translateY(-2px);
                box-shadow: inset 20px 2px 70px 0 rgba(46, 46, 46, 0.5);
            }

            .card-image {

                img {
                    height: 200px;
                    width: auto;
                    margin: 0 20px 0 0;

                }
            }

            .card-content {
                display: flex;
                flex-direction: column;

                .h3 {
                    margin: 0 0 20px 0;
                }

                .paragraph-secondary {
                    margin: 0 0 15px 0;
                }

                .tags {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    margin: 10px 0 0 0;

                    .tag {
                        margin: 0 10px 10px 0;
                        padding: 5px 10px;
                        border-radius: 5px;
                        background-color: var(--highlight);
                        color: var(--black);
                        font-size: 14px;
                        font-weight: 600;
                        text-transform: uppercase;
                    }
                }
            }
        }
    }


    /*
    resurssit page ends here
------------------------------------------------------------------------------------------------------------------------------
    yhteystiedot page starts here
*/

    .contacts {

        .container {

            .h2 {
                font-size: 45px;
            }

            b,
            a,
            p {
                font-size: 16px;
            }
        }
    }



}


@media screen and (min-width: 1024px) {

    .link {
        font-size: 18px;
    }

    .page-content {
        margin: 0 10%;
    }

    .navbar {
        padding: 0 15px;
        z-index: 2;


        .nav-logo img {
            height: 70px;
            margin: 10px 0 0 0;

            &:hover {
                cursor: pointer;
                transform: scale(1.1);
            }
        }

        .nav-menu {
            display: flex;
            position: relative;
            transform: translateY(0);
            background-color: transparent;
            height: 60px;
            flex-direction: row-reverse;

            .nav-item {
                margin: 0 20px;


                .nav-link {
                    color: var(--primary);
                    font: 18px 'JetBrains Mono', monospace;
                    font-weight: 600;

                    &:hover {
                        color: var(--highlight);
                    }
                }
            }
        }

        .hamburger {
            display: none;
        }
    }

    /* 
    Front page ends here
------------------------------------------------------------------------------------------------------------------------------
    säännöt page starts here
*/

    .rules-section {

        .h1 {
            margin: 0 0 20px 0;
            font-size: 35px;
        }

        .h2 {
            margin: 70px 0 20px 0;
            font-size: 30px;
        }

        .paragraph {
            margin: 20px 0 5px 0;
            font-size: 22px;
        }

        .paragraph-secondary {
            margin: 0 0 0 20px;
            font-size: 16px;
        }

    }


    /* 
säännöt page ends here
------------------------------------------------------------------------------------------------------------------------------
resurssit page starts here
*/


    .teams {

        .container {


            .red-team {
                padding: 300px 0;
                background-image: url('/H-T8/assets/red_team.webp');


            }

            .blue-team {
                padding: 300px 0;
                background-image: url('/H-T8/assets/blue_team.webp');
            }

            .general {
                padding: 300px 0;
                background-image: url("/H-T8/assets/general.webp");
            }
        }
    }

}



@media screen and (min-width: 1480px) {

    .page-content {

        margin: 0 20%;

        .button-hero {

            a {

                font-size: 18px;

            }
        }


    }

    .about {
        padding: 150px 0 150px 0;
        margin: 40px 0 0 0;

    }

    .activities {

        .container {
            padding: 100px 0;
            width: 110%;

            .activity-cards {
                margin: 30px 0;
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));


                .activity-card {
                    border: 1px solid var(--background);
                    padding: 25px;
                    border-radius: 10px;



                    a {
                        text-decoration: none;

                    }

                    .h3 {
                        margin: 0 0 20px 0;
                        font-weight: 800;
                    }
                }
            }

        }

    }



    .h1-hero {
        font-size: 70px;
    }

    .paragraph-hero {
        font-size: 20px;
    }

    .h1 {
        font-size: 45px;
    }

    .h2 {
        font-size: 50px;
    }

    .h3 {
        font-size: 45px;
    }

    .paragraph {
        font-size: 16px;
    }

    .paragraph-secondary {
        font-size: 16px;
    }

    .link {
        font-size: 20px;
    }

    .advanced {

        span {
            font-size: 16px;

        }
    }

    .intermediate {

        span {
            font-size: 16px;

        }
    }

    .beginner {

        span {
            font-size: 16px;

        }
    }

}